@media (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

.navs {
  background-color: #ffffff;
  .for_relative {
    position: relative;
  }
  .navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
    .navbar-toggler {
      position: absolute;
      right: 0px;
      top: 11px;
      // transform: translateY(-50%);
    }
  }
  .row {
    width: 100%;
  }
  // .menus {
  //   // margin-left: 50px;
  // }
  .payment {
    margin-left: 3px;
  }
  .navbar-light {
    color: #ffffff !important;

    .navbar-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 5.5%;
      .nav-link {
        font-family: "Istok Web", sans-serif;
        font-size: 13px;
        color: #054e9c;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      }
    }
  }

  .bg-light {
    background-color: #ffffff !important;
  }
}
.normalize {
  padding-top: 76px;
  position: relative;
  // height: 100vh;
}
.hero {
  background: url("../images/hero_background.png") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 76px);
  width: 100%;
  padding-top: 90px;
  display: flex;
  background-color: rgba(0, 150, 219, 0.1);
  // padding-top: 76px;
  position: relative;
  .messenger {
    position: absolute;
    right: 40px;
    bottom: 50px;
  }
  svg {
    position: absolute;
    top: 100px;
    right: 100px;
  }
  @media screen and (max-width: 1600px) {
    svg {
      top: 0;
    }
  }
  @media screen and (max-width: 1500px) and (max-height: 600px) {
    svg {
      top: 0px;
    }
  }
  @media screen and (max-width: 1650px) {
    #logosvg {
      // display: none;
      width: 50%;
    }
  }
  @media screen and (max-width: 1000px) {
    .wrapper {
      display: none;
      // width: 50%;
    }
  }
  .container {
    display: flex;
    .line_down_a {
      position: absolute;
      bottom: 25px;
      left: 50%;
      display: block;
      z-index: 2;
      height: 9.3vh;
      width: 7px;
      transform: translate(-50%, 0);
    }
    @media screen and (max-width: 1300px) {
      .line_down_a {
        display: none;
      }
    }
    .line_down {
      margin: 0 auto;
      height: 30px;
      position: absolute;
      &_1 {
        top: 0px;
        animation: pulsate1 1s infinite linear;
      }
      &_2 {
        top: 15px;
        animation: pulsate1 1s infinite linear;
        animation-delay: 0.3s;
      }
      &_3 {
        top: 30px;
        animation: pulsate1 1s infinite linear;
        animation-delay: 0.7s;
      }
    }

    @keyframes pulsate1 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.1;
      }
    }
    .scroll_icon {
      position: absolute;
      left: 50%;
      bottom: 50px;
    }
  }
  .content {
    // margin-top: 150px;
    .text {
      max-width: 600px;
      .title {
        margin: 0 auto;
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        text-transform: uppercase;
        color: #ffffff;
      }
      @media screen and (max-width: 1600px) {
        .title {
          font-size: 70px;
          line-height: 80px;
        }
      }
      @media screen and (max-width: 1200px) {
        .title {
          font-size: 60px;
        }
      }
      @media screen and (max-width: 900px) {
        .title {
          font-size: 52px;
        }
      }
      @media screen and(max-width:766.9px) {
        .title {
          font-size: 50px;
        }
      }

      @media screen and(max-width:575.9px) {
        .title {
          font-size: 49px;
        }
      }
      @media screen and(max-width:400px) {
        .title {
          font-size: 49px;
          line-height: 56px;
        }
      }
      .line {
        margin-top: 35px;
        border-top: 1px solid #fdfdfd;
        width: 125px;
      }
      @media screen and(max-width:1600px) {
        .line {
          margin-top: 15px;
        }
      }
      .quote {
        font-family: "Istok Web", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 45px;
      }
      @media screen and(max-width:1600px) {
        .quote {
          margin-top: 25px;
        }
      }
      .but {
        margin-top: 45px;
        width: 280px;
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255, 255, 255, 0);
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #ffffff;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        text-align: center;
        transition: all 0.2s;
        background: #054e9c;
        box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
        border-radius: 40px;
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
      }
      @media all and (max-width: 387.9px) {
         .but {
          width: 70%;
        }
      }
      .but:hover {
        background: #ffc400;
        box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
      }

      @media all and (max-width: 30em) {
         .but {
          display: block;
          margin: 0.2em auto;
        }
      }

      .iconsbox {
        margin-top: 50px;
        display: flex;
        .logo {
          margin-right: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .hero {
    min-height: 550px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 1500px) {
  .hero {
    padding-top: 70px;
  }
}
@media screen and (max-height: 668px) {
  .hero {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    background: #1469c5;
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    height: auto;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 766.9px) {
  .hero {
    height: 600px;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    height: 580px;
  }
}

.services {
  display: flex;
  justify-content: center;
  height: 520px;
  background: rgba(0, 150, 219, 0.1);
  .end {
    display: flex;
    justify-content: flex-end;
    .title {
      display: flex;
      justify-content: flex-end;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      text-align: right;
      text-transform: uppercase;
      color: #054e9c;
    }
    @media screen and(max-width: 1200px) {
      .services {
        height: auto;
        padding-bottom: 100px;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .title {
      font-size: 70px;
      margin: 0 auto;
    }
  }
  @media screen and(max-width:766.9px) {
    .title {
      font-size: 60px;
      margin: 0 auto;
    }
  }

  @media screen and(max-width:575.9px) {
    .title {
      font-size: 50px;
      margin: 0 auto;
    }
  }
  @media screen and(max-width:400px) {
    .title {
      font-size: 40px;
      margin: 0 auto;
    }
  }
}

.row {
  .cards {
    position: relative;
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    height: 240px;
    background: linear-gradient(180deg, #0092d9 0%, #004691 100%);
    box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .link {
      width: 100%;
      max-width: 184px;
      margin-top: 30px;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
    }
    // .vector {
    //   margin-left: 10px;
    // }
    #first_arrow {
      position: absolute;
      top: 160px;
      right: 25px;
    }
    #second_arrow {
      position: absolute;
      top: 160px;
      right: 25px;
    }
    #third_arrow {
      position: absolute;
      top: 160px;
      right: 25px;
    }
    #fourth_arrow {
      position: absolute;
      top: 160px;
      right: 25px;
    }
  }
  @media screen and (max-width: 1199.9px) {
    .cards {
      margin-top: 15px;
    }
  }
  // @media screen and (max-width: 766.9px) {
  //   .cards {
  //     margin-top: 15px;
  //   }
  // }
  .cards:hover {
    background: #ffc400;
    box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
    border-radius: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .services {
    height: 700px;
  }
}
@media screen and (max-width: 900px) {
  .services {
    height: 800px;
  }
}
@media screen and (max-width: 766.9px) {
  .services {
    display: flex;
    justify-content: center;
    height: 1200px;
  }
}
.tv {
  background: url("../images/moto-bg.png") no-repeat center center;
  background-size: cover;
  height: 900px;
  position: relative;
  text-align: center;
  .video_block {
    width: 100%;
    display: block;
    height: 100%;
    .bg_opacity {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(5, 78, 156, 0.7);
      z-index: 2;
    }
  }
  .vidos {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;

    .content {
      position: fixed;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
  }
  .for_video {
    position: absolute;
    z-index: 2222;
    top: 0;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
  }
  .container {
    .img_tv {
      margin: 0 auto;
      margin-top: -51px;
    }
    .second {
      position: absolute;
      right: 45px;
      top: 450px;
    }
    .third {
      position: absolute;
      top: 530px;
      right: -110px;
    }
    .fourth {
      position: absolute;
      left: -210px;
      top: 386px;
    }
    @media screen and (max-width: 766.9px) {
      .img_tv {
        width: 500px;
        height: 380px;
      }
    }
    @media screen and (max-width: 580px) {
      .img_tv {
        width: 400px;
        height: 280px;
      }
    }
    @media screen and (max-width: 450px) {
      .img_tv {
        width: 350px;
        height: 230px;
      }
    }
    @media screen and (max-width: 380px) {
      .img_tv {
        width: 300px;
        height: 200px;
      }
    }
    @media screen and (max-width: 1600px) {
      .second {
        width: 120px;
        height: 80px;
        right: 140px;
      }
    }
    @media screen and (max-width: 1200px) {
      .second {
        display: none;
      }
    }
    @media screen and (max-width: 1600px) {
      .third {
        width: 250px;
        height: 250px;
        right: -45px;
      }
    }
    @media screen and (max-width: 1200px) {
      .third {
        display: none;
      }
    }
    @media screen and (max-width: 1600px) {
      .fourth {
        left: -60px;

        width: 400px;
        height: 300px;
      }
    }
    @media screen and (max-width: 1200px) {
      .fourth {
        display: none;
      }
    }
    .content {
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 310px;
        .title {
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 80px;
          line-height: 94px;
          color: #ffffff;
          text-align: center;
        }
        @media screen and (max-width: 900px) {
          .title {
            font-size: 60px;
          }
        }
        @media screen and(max-width:766.9px) {
          .title {
            font-size: 40px;
          }
        }

        @media screen and(max-width:575.9px) {
          .title {
            font-size: 30px;
          }
        }
        @media screen and(max-width:400px) {
          .title {
            font-size: 25px;
          }
        }
        .description {
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
          font-family: "Istok Web", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 43px;
          text-align: center;
          color: #ffffff;
          text-shadow: 0px 4px 4px #003772;
        }
        @media screen and (max-width: 900px) {
          .description {
            font-size: 25px;
          }
        }
        @media screen and(max-width:766.9px) {
          .description {
            font-size: 20px;
          }
        }

        @media screen and(max-width:575.9px) {
          .description {
            font-size: 18px;
          }
        }
        @media screen and(max-width:400px) {
          .description {
            font-size: 16px;
          }
        }
        .buttons {
          flex-wrap: wrap;
          margin: 0 auto;
          // display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 605px;

          .first_button {
            width: 100%;
            max-width: 280px;
            height: 55px;
            display: inline-block;
            padding: 0.3em 1.2em;
            margin: 0 0.1em 0.1em 0;
            transition: all 0.2s;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
            border-radius: 40px;
            font-family: "Roboto Condensed", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
            color: #ffffff;
            background: none;
            margin-bottom: 10px;
          }
          .second_button {
            width: 100%;
            max-width: 280px;
            height: 55px;
            display: inline-block;
            padding: 0.3em 1.2em;
            margin: 0 0.1em 0.1em 0;
            transition: all 0.2s;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
            border-radius: 40px;
            font-family: "Roboto Condensed", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
            color: #054e9c;
            background: #ffffff;
          }
        }
        .second_button:hover {
          background: #ffc400;
          box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
          border: none;
        }
        .first_button:hover {
          color: #ffc400;
          border: 1px solid #ffc400;
        }
      }
      @media screen and (max-width: 900px) {
        .text {
          height: 250px;
        }
      }
    }
  }
}
@media screen and (max-width: 766.9px) {
  .tv {
    height: 700px;
  }
}
@media screen and (max-width: 579.9px) {
  .tv {
    height: 600px;
  }
}
@media screen and (max-width: 380.9px) {
  .tv {
    height: 500px;
  }
}
.news {
  display: flex;
  align-items: center;
  padding-bottom: 65px; // height: 1170px;
  position: relative;
  background: rgba(0, 150, 219, 0.1);
  .container {
    @media screen and (max-width: 767.9px) {
      .row_title {
        margin-top: 40px;
      }
    }
    .features {
      .all_news {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        margin-right: 212px;
        color: #054e9c;
        .squares {
          padding-left: 15px;
          transition: 0.1s;
        }
        .squares:hover {
          transform: scale(1.1);
        }
      }
      @media screen and (max-width: 767.9px) {
        .all_news {
          margin-right: 0px;
        }
      }
      @media screen and (max-width: 500.9px) {
        .all_news {
          font-size: 20px;
        }
      }
    }

    .title {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 94px;
      // margin-top: 85px;
      text-transform: uppercase;
      color: #054e9c;
      // padding-bottom: 67px;
    }
    @media screen and (max-width: 991.9px) {
      .title {
        font-size: 70px;
        // margin-top: 75px;
      }
    }
    @media screen and(max-width:767.9px) {
      .title {
        font-size: 50px;
      }
    }

    @media screen and(max-width:575.9px) {
      .title {
        font-size: 40px;
      }
    }
    @media screen and(max-width:400px) {
      .title {
        font-size: 28px;
        // text-align: center;
      }
    }

    .slider-content {
      margin: 0 auto;
      .slick-dots {
        bottom: -55px;
      }
      .slick-arrow {
        width: 57px;
        height: 57px;
        background-color: #fff !important;
        background-image: url("../images/arrright.svg") !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        border-radius: 50%;
        &:before {
          display: none;
        }
      }
      .cards {
        padding: 0 15px;
        margin: 0 auto;
      }
      .slick-next {
        top: -111px;
        position: absolute;
        right: 20px;
        bottom: auto;
      }
      .slick-arrow:hover {
        background-color: #ffc400 !important;
      }
      @media screen and(max-width:767.9px) {
        .slick-next {
          top: -65px;
          position: absolute;
          // left: auto;
          transform: translateX(45px);
          right: 0;
          left: 0;
          display: block;
          margin: 0 auto;
        }
      }
      .slick-prev {
        top: -140px;
        position: absolute;
        left: auto;
        right: 110px;
        transform: scale(-1, -1);
        bottom: auto;
      }
      .slick-prev:hover {
        color: #ffc400;
      }

      @media screen and(max-width:767.9px) {
        .slick-prev {
          top: -65px;
          position: absolute;
          // left: auto;
          transform: scale(-1, -1) translateX(45px);
          right: 0;
          left: 0;
          display: block;
          margin: 0 auto;
        }
      }
      .cards {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 395px;
        // height: 680px;
        .foto {
          margin-bottom: 25px;
        }
        .date_title {
          display: flex;
          justify-content: space-between;
        }
        .card_title {
          width: 100%;
          max-width: 260px;
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 36px;
          text-transform: uppercase;
          color: #054e9c;
          margin-bottom: 17px;
          overflow: hidden;
          height: 80px;
          p {
            border-left: 2px solid #054e9c;
            padding-left: 10px;
          }
        }
        @media screen and (max-width: 440px) {
          .card_title {
            font-size: 21px;
            line-height: 21px;
          }
        }

        .description {
          margin-bottom: 41px;
          font-family: "Istok Web", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 29px;
          height: 180px;
          color: rgba(5, 78, 156, 0.8);
        }
        @media screen and (max-width: 900px) {
          .description {
            font-size: 20px;
          }
        }
        @media screen and(max-width:766.9px) {
          .description {
            font-size: 18px;
          }
        }

        @media screen and(max-width:575.9px) {
          .description {
            font-size: 18px;
          }
        }
        @media screen and(max-width:400px) {
          .description {
            font-size: 18px;
          }
        }
        .buttons {
          max-width: 290px;
          width: 100%;
          display: inline-block;
          padding: 0.3em 1.2em;
          margin: 0 0.1em 0.1em 0;
          border: 0.16em solid rgba(255, 255, 255, 0);
          box-sizing: border-box;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: #ffffff;
          text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
          text-align: center;
          transition: all 0.2s;
          background: #054e9c;
          border-radius: 40px;
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
        }
        .buttons:hover {
          background: #ffc400;
          box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
        }
        .date {
          display: flex;
          .number {
            // bottom: 286px;
            // right: 66px;
            // position: absolute;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 35px;
            color: rgba(5, 78, 156, 0.8);
            padding-right: 2px;
          }
          .month {
            display: block;
            // bottom: 305px;
            // right: 12px;
            // position: absolute;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: rgba(5, 78, 156, 0.8);
          }
          .year {
            display: block;
            // bottom: 290px;
            // right: 35px;
            // position: absolute;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: rgba(5, 78, 156, 0.8);
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 380.9px) {
//   .news {
//     height: 700px;
//   }
// }
.for_footer {
  background: url("../images/bg_footer.png") no-repeat center center;
  background-size: cover;
  height: 500px;
  background-color: rgba(0, 150, 219, 0.1);
  display: flex;
  align-items: flex-end;
  padding-bottom: 90px;
  .container {
    .row {
      display: flex;
      margin: 0 auto;
      justify-content: space-around;
      .first_row {
        width: 100%;
        max-width: 215px;
        font-family: "Istok Web", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        color: #ffffff;
        .location {
          padding-left: 15px;
        }
        .hover_location {
          opacity: 1;
        }
        .hover_location:hover {
          opacity: 0.5;
        }
        .show_on_map {
          color: #fff;
        }
      }
      .second_row {
        max-width: 210px;
        width: 100%;
        font-family: "Istok Web", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        color: #ffffff;
        .img {
          padding-right: 16px;
          opacity: 1;
        }
        .img:hover {
          opacity: 0.5;
        }
        .phone_numbers {
          color: #fff;
        }
      }
      .third_row {
        max-width: 300px;
        width: 100%;
        font-family: "Istok Web", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        color: rgba(255, 255, 255, 0.5);
        .logo {
          margin-bottom: 35px;
        }
        .copyright {
          max-width: 250px;
        }
      }
    }
  }
}
@media screen and (max-width: 454.9px) {
  .first_row {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 454.9px) {
  .second_row {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991.9px) {
  .for_footer {
    background: #054e9c;
  }
}

.img {
  position: relative;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.row_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
  margin-top: 85px;
}

///////////////////////////////////////////////////////////////////// Services
.services_hero {
  background: url("../images/services_bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 150, 219, 0.1);

  .container {
    .content {
      display: flex;
      justify-content: space-around;
      margin-top: 160px;
      .sattelite {
        margin-top: 100px;
      }
      .text {
        max-width: 1020px;

        .title {
          max-width: 610px;
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 70px;
          line-height: 82px;
          text-transform: uppercase;

          color: #ffffff;
        }
        .line {
          margin-top: 35px;
          border-top: 1px solid #fdfdfd;
          width: 187px;
        }
        .quote {
          font-family: "Istok Web", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 29px;
          color: #ffffff;
          margin-top: 10px;
          margin-bottom: 45px;
          max-width: 820px;
        }
        form {
          border: none;
          .phone_form {
            padding-left: 45px;
            border-radius: 40px;
            width: 395px;
            height: 55px;
            margin-right: 30px;
          }
          .butt {
            margin-top: 45px;
            width: 180px;
            // display: inline-block;
            padding: 0.3em 1.2em;
            margin: 0 0.1em 0.1em 0;
            // box-sizing: border-box;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: #ffffff;
            text-align: center;
            transition: all 0.2s;
            background: linear-gradient(180deg, #0092d9 0%, #004691 100%);
            box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
            border-radius: 40px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
          }
        }
      }
    }
    .line_down_a {
      position: absolute;
      bottom: 25px;
      left: 50%;
      display: block;
      z-index: 2;
      height: 9.3vh;
      width: 7px;
      transform: translate(-50%, 0);
    }
    @media screen and (max-width: 1300px) {
      .line_down_a {
        display: none;
      }
    }
    .line_down {
      margin: 0 auto;
      height: 30px;
      position: absolute;
      &_1 {
        top: 0px;
        animation: pulsate1 1s infinite linear;
      }
      &_2 {
        top: 15px;
        animation: pulsate1 1s infinite linear;
        animation-delay: 0.3s;
      }
      &_3 {
        top: 30px;
        animation: pulsate1 1s infinite linear;
        animation-delay: 0.7s;
      }
    }

    @keyframes pulsate1 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.1;
      }
    }
    .scroll_icon {
      position: absolute;
      left: 50%;
      bottom: 50px;
    }
  }
}

.services_slider {
  background: rgba(0, 150, 219, 0.1);
  padding-bottom: 155px;
  .container {
    .slider_services {
      margin: 0 auto;
      .slick-dots {
        bottom: 0px;

        li {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          // display: inline-block;
          background: #0091d9;
          button {
            display: none;
          }
        }
      }
      .cards {
        display: flex;

        .text {
          display: flex;
          flex-direction: column;
          margin-left: 50px;
        }
        .title {
          margin-top: 30px;
          max-width: 710px;
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 50px;
          line-height: 59px;
          margin-bottom: 34px;
          color: #054e9c;
        }
        .description {
          max-width: 710px;
          font-family: "Istok Web", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 19px;
          line-height: 29px;
          margin-bottom: 27px;
          color: #054e9c;
        }

        .buttons {
          margin-top: 45px;
          width: 290px;
          display: inline-block;
          padding: 0.3em 1.2em;
          margin: 0 0.1em 0.1em 0;
          border: 0.16em solid rgba(255, 255, 255, 0);
          box-sizing: border-box;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: #ffffff;
          text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
          text-align: center;
          transition: all 0.2s;
          background: #054e9c;
          box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
          border-radius: 40px;
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 115px;
        }
        .buttons:hover {
          background: #ffc400;
          box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
        }
        @media all and (max-width: 400.9px) {
           .buttons {
            width: 100%;
          }
        }
        @media all and (max-width: 30em) {
           .buttons {
            display: block;
            margin: 0.2em auto;
          }
        }
      }
    }
  }
}

.services_table {
  background: rgba(0, 150, 219, 0.1);
  .container {
    .smooth {
      overflow: visible !important;
    }
    .card-body {
      padding: 0;
      // .card_style {
      //   border-radius: 40px;
      //   overflow: hidden;
      //   box-shadow: 0 0 30px #72ace8;
      //   margin-bottom: 10px;
      // }
    }
    .card_style {
      border-radius: 40px;
      overflow: hidden;
      box-shadow: 0 0 30px #72ace8;
      margin-bottom: 10px;
    }
    .card-header {
      background: #e5f4fb;
      box-shadow: 0px 4px 50px rgba(0, 145, 217, 0.33);
      border-radius: 40px !important;
      margin-bottom: 10px;
      border-bottom: none;
      .btn {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        /* синій */

        color: #054e9c;
      }
    }
    .card {
      border: none;
      background-color: transparent;
      overflow: visible;
    }
    .text {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 59px;
        max-width: 777px;
        /* синій */

        color: #054e9c;
      }
      .buttons {
        // max-width: 290px;
        width: 290px;
        height: 55px;
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255, 255, 255, 0);
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #ffffff;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        text-align: center;
        transition: all 0.2s;
        background: #054e9c;
        box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
        border-radius: 40px;
        font-family: "Roboto Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        margin-top: 50px;
      }
      .buttons:hover {
        background: #ffc400;
        box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
      }
      @media all and (max-width: 400.9px) {
         .buttons {
          width: 100%;
        }
      }
      @media all and (max-width: 30em) {
         .buttons {
          display: block;
          margin: 0.2em auto;
        }
      }
    }
    .channel_table {
      width: 100%;
      font-family: "Istok Web", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 29px;
      color: #054e9c;

      .headings {
        background: rgba(0, 150, 219, 0.1);

        font-family: "Istok Web", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */

        color: #0096dc;
      }
      tr {
        background: linear-gradient(180deg, #e5f4fb 0%, #d3f1ff 100%);
        td {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
      th {
        padding-left: 30px;
      }
    }
  }
}
// fdasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
.video_hero {
  background: url("../images/services_bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 150, 219, 0.1);

  .container {
    .content {
      display: flex;
      justify-content: space-around;
      margin-top: 220px;
      .camera {
        margin-top: 100px;
      }
      .text {
        max-width: 1020px;

        .title {
          max-width: 610px;
          font-family: "Roboto Condensed", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 70px;
          line-height: 82px;
          text-transform: uppercase;

          color: #ffffff;
        }
        .line {
          margin-top: 35px;
          border-top: 1px solid #fdfdfd;
          width: 187px;
        }
        .quote {
          font-family: "Istok Web", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 29px;
          color: #ffffff;
          margin-top: 10px;
          margin-bottom: 45px;
          max-width: 820px;
        }
        form {
          border: none;
          .phone_form {
            padding-left: 45px;
            border-radius: 40px;
            width: 395px;
            height: 55px;
            margin-right: 30px;
          }
          .butt {
            margin-top: 45px;
            width: 180px;
            // display: inline-block;
            padding: 0.3em 1.2em;
            margin: 0 0.1em 0.1em 0;
            // box-sizing: border-box;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: #ffffff;
            text-align: center;
            transition: all 0.2s;
            background: linear-gradient(180deg, #0092d9 0%, #004691 100%);
            box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
            border-radius: 40px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
          }
        }
      }
    }
    .line_down_a {
      position: absolute;
      bottom: 25px;
      left: 50%;
      display: block;
      z-index: 2;
      height: 9.3vh;
      width: 7px;
      transform: translate(-50%, 0);
    }
    @media screen and (max-width: 1300px) {
      .line_down_a {
        display: none;
      }
    }
    .line_down {
      margin: 0 auto;
      height: 30px;
      position: absolute;
      &_1 {
        top: 0px;
        animation: pulsate1 1s infinite linear;
      }
      &_2 {
        top: 15px;
        animation: pulsate1 1s infinite linear;
        animation-delay: 0.3s;
      }
      &_3 {
        top: 30px;
        animation: pulsate1 1s infinite linear;
        animation-delay: 0.7s;
      }
    }

    @keyframes pulsate1 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0.1;
      }
    }
    .scroll_icon {
      position: absolute;
      left: 50%;
      bottom: 50px;
    }
  }
}
@media (min-width: 1700px) and (max-height: 915px) {
  .hero {
    min-height: 850px;
  }
}
// @media (max-width: 1600px) {
//    .logos .logo {
//     max-width: 80px;
//   }
// }
@media all and (max-width: 1600.9px) {
  .iconsbox {
    .logo {
      max-width: 80px;
      display: inline-block;
      vertical-align: middle;

      &:first-child {
        margin-right: 40px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
.slick-slide {
  outline: none;
}
